*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
.name{
    color: rgb(185, 65, 73);
}
.main_heading{


}
.square{
    height: 20px;
    width: 20px;
}
.main_images{
    background-image: url(/image/img-1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* service part css start */
.service_name{
    padding-top: 40px;
    padding-left: 25px;
}


/* about us part css start */
.about_us{
    /* background-color: rgba(9, 55, 9, 0.474); */
    background-color: rgb(123, 163, 141);
}
.contact_us{
    background-color: rgb(200, 79, 23);
}
.website{
    background-color: rgb(173, 212, 210);
}