*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
.name{
    color: rgb(185, 65, 73);
}
.main_heading{
     padding-top: 30px;
     padding-bottom: 30px;
}
.box{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(37, 112, 113);
    box-shadow: inset 10px 10px 0px 0px rgb(19, 72, 73);
    background-color: rgb(37, 112, 113) ;
    position: absolute;
    left:120px;
    top:35px;
    overflow: hidden;
}
.pr{
    font-size: 80px;
    border-radius: 0% 0% 100% 100%;
    background-color: rgb(37, 112, 113);
    text-align: center;
    opacity: 0.7;
    position: absolute;
    top: 5px;
    right: 40px;
    left: 900px ;
    color: white ;
    line-height: 0.901;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.main_images{
    background-image: url(/image/ph-1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* service part css start */
.service_name{
    padding-top: 50px;
    padding-left: 25px;
}
.our_service{
    text-align: center;
    color:rgb(37, 112, 113) ;
}
.services_heading{
    color:rgb(37, 112, 113);
}
.service_number{
    color:rgb(240, 82, 25);
    font-size: 100px;
    font-weight: bolder;
}


/* about us part css start */
.about{
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}
.data_name{
    text-align: center;
    padding-bottom: 20px;
}
.about_us{
    background-color: rgb(37, 112, 113);
    padding: 30px 25px 30px 25px;
}
.contact_us{
    background-color: rgb(240, 82, 25);
    padding: 30px 25px 30px 25px;
}
.website{
    background-color: rgb(173, 212, 210);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer{
    border:10px solid rgb(240, 82, 25);
}