*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
.name{
    color: rgb(185, 65, 73);
}
.main_heading{


}
.square{
    height: 20px;
    width: 20px;
}
.main_images{
    background-image: url(/image/img-1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* service part css start */
.service_name{
    padding-top: 50px;
    padding-left: 25px;
}
.our_service{
    text-align: center;
    color:rgb(37, 112, 113) ;
}
.services_heading{
    color:rgb(37, 112, 113);
}
.service_number{
    color:rgb(240, 82, 25);
    font-size: 50px;
    font-weight: bolder;
}


/* about us part css start */
.about{
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}
.data_name{
    text-align: center;
    padding-bottom: 20px;
}
.about_us{
    background-color: rgb(37, 112, 113);
    padding: 30px 25px 30px 25px;
}
.contact_us{
    background-color: rgb(240, 82, 25);
    padding: 30px 25px 30px 25px;
}
.website{
    background-color: rgb(173, 212, 210);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
